
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3">
      
        <div>
          <h3 class="mdc-typography--subtitle1">Text Button</h3>
          <button class="demo-button mdc-button undefined ">
            <span class="mdc-button__label">Default</span>
          </button>
          <button class="demo-button mdc-button mdc-button--dense undefined " style="--mdc-ripple-fg-size:38px; --mdc-ripple-fg-scale:2.14616; --mdc-ripple-fg-translate-start:17.168px, 0.933594px; --mdc-ripple-fg-translate-end:13px, -3px;">
            <span class="mdc-button__label">Dense</span>
          </button>
          <button class="demo-button mdc-button undefined ">
            <i class="material-icons mdc-button__icon">favorite</i>
            <span class="mdc-button__label">Icon</span>
          </button>
        </div>
        <div>
          <h3 class="mdc-typography--subtitle1">Raised Button</h3>
          <button class="demo-button mdc-button mdc-button--raised ">
            <span class="mdc-button__label">Default</span>
          </button>
          <button class="demo-button mdc-button mdc-button--dense mdc-button--raised ">
            <span class="mdc-button__label">Dense</span>
          </button>
          <button class="demo-button mdc-button mdc-button--raised ">
            <i class="material-icons mdc-button__icon">favorite</i>
            <span class="mdc-button__label">Icon</span>
          </button>
        </div>
        <div>
          <h3 class="mdc-typography--subtitle1">Unelevated Button</h3>
          <button class="demo-button mdc-button mdc-button--unelevated ">
            <span class="mdc-button__label">Default</span>
          </button>
          <button class="demo-button mdc-button mdc-button--dense mdc-button--unelevated ">
            <span class="mdc-button__label">Dense</span>
          </button>
          <button class="demo-button mdc-button mdc-button--unelevated ">
            <i class="material-icons mdc-button__icon">favorite</i>
            <span class="mdc-button__label">Icon</span>
          </button>
        </div>
        <div>
          <h3 class="mdc-typography--subtitle1">Outlined Button</h3>
          <button class="demo-button mdc-button mdc-button--outlined ">
            <span class="mdc-button__label">Default</span>
          </button>
          <button class="demo-button mdc-button mdc-button--dense mdc-button--outlined ">
            <span class="mdc-button__label">Dense</span>
          </button>
          <button class="demo-button mdc-button mdc-button--outlined ">
            <i class="material-icons mdc-button__icon">favorite</i>
            <span class="mdc-button__label">Icon</span>
          </button>
        </div>
        <div>
          <h3 class="mdc-typography--subtitle1">Shaped Button</h3>
          <button class="demo-button mdc-button mdc-button--unelevated demo-button-shaped ">
            <span class="mdc-button__label">Default</span>
          </button>
          <button class="demo-button mdc-button mdc-button--dense mdc-button--unelevated demo-button-shaped ">
            <span class="mdc-button__label">Dense</span>
          </button>
          <button class="demo-button mdc-button mdc-button--unelevated demo-button-shaped ">
            <i class="material-icons mdc-button__icon">favorite</i>
            <span class="mdc-button__label">Icon</span>
          </button>
        </div>
        <div>
            <h3 class="mdc-typography--subtitle1">FAB</h3>
            <button class="mdc-fab demo-button" aria-label="Favorite">
                <span class="mdc-fab__icon material-icons">favorite</span>
            </button>

            <button class="mdc-fab mdc-fab--extended demo-button">
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">Create</span>
              </button>
        </div>
      

    </div>
    <div class="mdc-layout-grid__cell--span-3">
        <div class="mdc-card">
            <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
              <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
              <div class="demo-card__primary">
                <h2 class="demo-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                <h3 class="demo-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
              </div>
              <div class="demo-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
            </div>
            <div class="mdc-card__actions">
              <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button">Read</button>
                <button class="mdc-button mdc-card__action mdc-card__action--button">Bookmark</button>
              </div>
              <div class="mdc-card__action-icons">
                <button id="add-to-favorites" class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded" aria-pressed="false" aria-label="Add to favorites" title="Add to favorites">
                  <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                  <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                </button>
                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="Share" data-mdc-ripple-is-unbounded="true">share</button>
                <!-- <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded" title="More options" data-mdc-ripple-is-unbounded="true">more_vert</button> -->
              </div>
            </div>
          </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3 ">
        <div class="mdc-chip-set">
            <div class="mdc-chip" tabindex="0">
              <div class="mdc-chip__text">Chip content</div>
            </div>
            <div class="mdc-chip">
                <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">event</i>
                <div class="mdc-chip__text">Add to calendar</div>
            </div>
            <div class="mdc-chip">
                <div class="mdc-chip__text">Jane Smith</div>
                <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing" tabindex="0" role="button">cancel</i>
            </div>
        </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3">
        <!-- <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="open" style="--mdc-ripple-fg-size:45px; --mdc-ripple-fg-scale:2.09038; --mdc-ripple-fg-translate-start:26.3125px, -8.57813px; --mdc-ripple-fg-translate-end:15.4844px, -4.5px;">Open</button> -->
        <button class='mdc-button' id="alert-dialog">Alert</button>


      <div class="mdc-dialog"
        role="alertdialog"
        aria-modal="true"
        aria-labelledby="my-dialog-title"
        aria-describedby="my-dialog-content">
        <div class="mdc-dialog__container">
          <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
            -->Choose a Ringtone<!--
          --></h2>
            <div class="mdc-dialog__content" id="my-dialog-content">
                <ul class="mdc-list">
                    <li class="mdc-list-item" tabindex="0">
                      <span class="mdc-list-item__text">Single-line item</span>
                    </li>
                    <li class="mdc-list-item">
                      <span class="mdc-list-item__text">Single-line item</span>
                    </li>
                    <li class="mdc-list-item">
                      <span class="mdc-list-item__text">Single-line item</span>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="mdc-dialog__scrim"></div>
      </div>

      <ul class="mdc-list demo-list mdc-list--two-line mdc-list--avatar-list">
        <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0">
          <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">Dog Photos</span>
            <span class="mdc-list-item__secondary-text">9 Jan 2018</span>
          </span>
          <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
        </li>
      
        <li class="mdc-list-divider" role="separator"></li>

        <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">
          <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">Cat Photos</span>
            <span class="mdc-list-item__secondary-text">22 Dec 2017</span>
          </span>
          <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
        </li>
        
        <li class="mdc-list-divider" role="separator"></li>

        <li class="mdc-list-item mdc-ripple-upgraded" id="9b7b164a-a39c-48a9-b8e7-ebd8b094852e" tabindex="-1">
          <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">Potatoes</span>
            <span class="mdc-list-item__secondary-text">30 Noc 2017</span>
          </span>
          <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
        </li>
        
        <li class="mdc-list-divider" role="separator"></li>

        <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">
          <span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span>
          <span class="mdc-list-item__text">
            <span class="mdc-list-item__primary-text">Carrots</span>
            <span class="mdc-list-item__secondary-text">17 Oct 2017</span>
          </span>
          <span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span>
        </li>
      </ul>

    </div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">
        
    </div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">6</div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">7</div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">8</div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">9</div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">10</div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">11</div>
    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--bg-grey">12</div>
  </div>  
</div>  


<h3 class="mdc-typography--headline3">Standard Image List </h3>
<ul class="mdc-image-list standard-image-list mdc-image-list--with-text-protection">
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/3.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/4.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/5.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/6.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/7.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/8.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/9.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/10.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/11.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/12.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/13.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/14.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item">
    <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image"
        src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/15.jpg"
        alt="Text label"></div>
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
</ul>



<h3 class="mdc-typography--headline3">Masonry</h3>

<ul class="mdc-image-list mdc-image-list--masonry masonry-image-list">
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/16.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/1.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/2.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/3.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/4.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/3.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/5.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/4.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/6.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/5.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/7.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/6.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
  <li class="mdc-image-list__item"><img class="mdc-image-list__image"
      src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/7.jpg"
      alt="Text label">
    <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
  </li>
</ul>




<div style="margin:24px">


<h3 class="mdc-typography--headline3">Buffered Progress Bars</h3>

<div role="progressbar" class="mdc-linear-progress ">
  <div class="mdc-linear-progress__buffering-dots"></div>
  <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.75);"></div>
  <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.5);">
    <span class="mdc-linear-progress__bar-inner"></span>
  </div>
  <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
    <span class="mdc-linear-progress__bar-inner"></span>
  </div>
</div>
<br><br><br>
<div role="progressbar" class="mdc-linear-progress">
    <div class="mdc-linear-progress__buffering-dots"></div>
    <div class="mdc-linear-progress__buffer"></div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
  </div>

<h3 class="mdc-typography--headline3">List</h3>
<ul class="mdc-list demo-list-A">
  <li class="mdc-list-item mdc-ripple-upgraded" tabindex="-1">
    <span class="mdc-list-item__graphic material-icons" aria-hidden="true">inbox</span>Inbox
  </li>
  <li class="mdc-list-item mdc-list-item--activated mdc-ripple-upgraded" tabindex="-1" aria-selected="true">
    <span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span>Star
  </li>
  <li class="mdc-list-item mdc-ripple-upgraded"  tabindex="-1">
    <span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>Send
  </li>
  <li class="mdc-list-item mdc-ripple-upgraded"  tabindex="-1">
    <span class="mdc-list-item__graphic material-icons" aria-hidden="true">drafts</span>Drafts
  </li>
</ul>



<h3 class="mdc-typography--headline3">Open Menu</h3>

<button class="mdc-button" id="mdc-menu--button-toggle">Open menu</button>
<div class="mdc-menu-surface--anchor">
  <div class="mdc-menu mdc-menu-surface" tabindex="-1" style="transform-origin: center bottom; left: 0px; bottom: 0px; max-height: 605.781px;">
    <ul class="mdc-list" role="menu" aria-hidden="true">
      <li class="mdc-list-item" role="menuitem" tabindex="0">Passionfruit</li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Orange</li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Guava</li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Pitaya</li>
      <li class="mdc-list-divider" role="separator"></li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Pineapple</li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Mango</li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Papaya</li>
      <li class="mdc-list-item" role="menuitem" tabindex="-1">Lychee</li>
    </ul>
  </div>
</div>


</div> <!-- end margin: 24px -->