<header class="mdc-top-app-bar app-bar" id="app-bar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <a href="javascript:void(0);" class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
        <span class="mdc-top-app-bar__title">Dismissible Drawer</span>
      </section>
    </div>
  </header>
 

  <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__header">
      <h3 class="mdc-drawer__title">Mail</h3>
      <h6 class="mdc-drawer__subtitle">email@material.io</h6>
    </div>
    <div class="mdc-drawer__content">
      <nav class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="javascript:void(0)" tabindex="0" aria-selected="true">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox</a>
        <a class="mdc-list-item" href="javascript:void(0)" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star</a>
        <a class="mdc-list-item" href="javascript:void(0)" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail</a>
        <a class="mdc-list-item" href="javascript:void(0)" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts</a>
        <hr class="mdc-list-divider">
        <h6 class="mdc-list-group__subheader">Labels</h6>
        <a class="mdc-list-item" href="#" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>Family</a>
        <a class="mdc-list-item" href="#" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>Friends</a>
        <a class="mdc-list-item" href="#" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bookmark</i>Work</a>
        <hr class="mdc-list-divider">
        <a class="mdc-list-item" href="#" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>Settings</a>
        <a class="mdc-list-item" href="#" tabindex="-1">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">announcement</i>Help &amp; feedback</a>
      </nav>
    </div>
  </aside>
  <!-- <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__content">
      <div class="mdc-list">
        <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>
          <span class="mdc-list-item__text">Inbox</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
          <span class="mdc-list-item__text">Outgoing</span>
        </a>
        <a class="mdc-list-item" href="#">
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
          <span class="mdc-list-item__text">Drafts</span>
        </a>
      </div>
    </div>
  </aside> -->

  <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
    <main class="main-content" id="main-content">
      App Content
    </main>
  </div>